/** common */
.form-required {
	color: red;
	margin-right: 5px;
	position: relative;
	top: 4px;
	font-size: 18px;
}

.hr-line-solid {
	border-bottom: 1px solid #e7eaec;
	color: #fff;
	background-color: #fff;
	height: 1px;
	margin: 20px 0
}

.btn-fw {
	width: 100px;
}
.btn-white:hover {
	background: #fafafa;
}

.gohome {
	display: none;
}

.a-back {
	font-size: 14px;
	padding-left: 10px;
}
.a-operate + .a-operate{
	margin-left: 10px;
}
.btn-operate button {
	min-width: 100px;
}

a {
	color: #459ae9;
}
a:HOVER {
	color: #459ae9;
	text-decoration: underline;
}

.table-hm thead tr {
	background-color: #f5f5f5;
}

.page-title {
	border-bottom: 1px solid #e7e7eb;
	margin-bottom: 25px;
}
.page-title h2 {
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-family: "Open Sans", "微软雅黑", sans-serif;
}
.page-title small {
	font-size: 16px;
	font-weight: 300;
	color: #888;
	padding-left: 10px;
}

.close.fileinput-remove {
	display: none;
}

.note-editor.note-frame {
	border: solid 1px #e5e6e7;
}

.disabled {
	pointer-events: none;
	cursor: default;
	color: #999;
}

.height-full {
    height: 100%!important;
}

.vertical-align {
    font-size: 0;
}
.vertical-align:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-bottom, .vertical-align-middle {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
}

@media (max-width: 767px){
	.hidden-xs {
   		display: none!important;
	}
}
.visible-xs {
    display: none!important;
}

.padding-0 {
	padding: 0!important;
}

@media (max-width: 767px){
	.visible-xs {
    	display: block!important;
	}
}

/** tab pane*/
.tabs-container .panel-body {
	border: none;
}
.tabs-container .nav-tabs>li.active>a, .tabs-container .nav-tabs>li.active>a:focus, .tabs-container .nav-tabs>li.active>a:hover {
	border: none;
	border-bottom: 1px solid #18a689;
	color: #18a689;
	font-weight: normal;
}
.nav-tabs>li>a {
	font-weight: normal;
}

/** btn-primary */
.btn-primary {
	background-color: #43bc60;
	border-color: #36964d;
	color: #FFF
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus,
	.btn-primary:hover, .open .dropdown-toggle.btn-primary {
	background-color: #389e51;
	border-color: #36964d;
	color: #FFF
}
.btn-primary.active, .btn-primary:active, .open .dropdown-toggle.btn-primary
	{
	background-image: none
}
.btn-primary.active[disabled], .btn-primary.disabled, .btn-primary.disabled.active,
	.btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover,
	.btn-primary[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus,
	.btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active,
	fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus,
	fieldset[disabled] .btn-primary:hover {
	background-color: #389e51;
	border-color: #36964d;
}

/** btn-blue */
.btn-blue {
	background-color: #4B8DF8;
	border-color: #4B8DF8;
	color: #FFF
}
.btn-blue.active, .btn-blue:active, .btn-blue:focus,
	.btn-blue:hover, .open .dropdown-toggle.btn-blue {
	background-color: #2977f7;
	border-color: #2977f7;
	color: #FFF
}
.btn-blue.active, .btn-blue:active, .open .dropdown-toggle.btn-blue {
	background-image: none
}
.btn-blue.active[disabled], .btn-blue.disabled, .btn-blue.disabled.active,
	.btn-blue.disabled:active, .btn-blue.disabled:focus, .btn-blue.disabled:hover,
	.btn-blue[disabled], .btn-blue[disabled]:active, .btn-blue[disabled]:focus,
	.btn-blue[disabled]:hover, fieldset[disabled] .btn-blue, fieldset[disabled] .btn-blue.active,
	fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue,
	fieldset[disabled] .btn-blue:hover {
	background-color: #2977f7;
	border-color: #2977f7;
}

/** number spinner */
.spinner {  
  width: 100px;  
}  
.spinner input {  
  text-align: right;  
}  
.spinner .input-group-btn-vertical {  
  position: relative;  
  white-space: nowrap;  
  width: 1%;  
  vertical-align: middle;  
  display: table-cell;  
}  
.spinner .input-group-btn-vertical > .btn {  
  display: block;  
  float: none;  
  width: 100%;  
  max-width: 100%;  
  padding: 8px;  
  margin-left: -1px;  
  position: relative;  
  border-radius: 0;  
}  
.spinner .input-group-btn-vertical > .btn:first-child {  
  border-top-right-radius: 4px;  
}  
.spinner .input-group-btn-vertical > .btn:last-child {  
  margin-top: -2px;  
  border-bottom-right-radius: 4px;  
}  
.spinner .input-group-btn-vertical i{  
  position: absolute;  
  top: 0;  
  left: 4px;  
} 

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #a1a1a1;
}

/** 题型 */
.ques-type {
	font-size: 12px;
	border: 1px solid;
	border-radius: 2px;
	padding: 3px 8px;
	vertical-align: middle;
}
.ques-single {
	color: #1ab394;
	border-color: #1ab394;
}
.ques-multiple {
	color: #1c84c6;
	border-color: #1c84c6;
}
.ques-boolean {
	color: #ec4444;
	border-color: #ec44444;
}

