/** common */
.form-required {
	color: red;
	margin-right: 5px;
	position: relative;
	top: 4px;
	font-size: 18px;
}

.hr-line-solid {
	border-bottom: 1px solid #e7eaec;
	color: #fff;
	background-color: #fff;
	height: 1px;
	margin: 20px 0
}

.btn-fw {
	min-width: 80px;
}
.btn-white:hover {
	background: #fafafa;
}

.gohome {
	display: none;
}

.a-back {
	font-size: 14px;
	padding-left: 10px;
}
.a-operate + .a-operate{
	margin-left: 10px;
}
.btn-operate button {
	min-width: 80px;
}

a {
	color: #459ae9;
}
a:HOVER {
	color: #459ae9;
	text-decoration: underline;
}

/** table */
.table-hm thead tr {
	background-color: #f5f5f5;
}
.fixed-table-body {
	overflow: visible;
}
.table-fixed {
	table-layout: fixed;
}
.table-fixed td {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	-moz-text-overflow: ellipsis;
}

.page-title {
	min-height: 34px;
	border-bottom: 1px solid #e7e7eb;
	margin-bottom: 25px;
}
.page-title h2 {
	font-size: 18px;
	font-weight: 400;
	font-style: normal;
	font-family: "Open Sans", "微软雅黑", sans-serif;
	float: left;
}
.page-title small {
	font-size: 16px;
	font-weight: 300;
	color: #888;
	padding-left: 10px;
}
.page-title a {
	float: right;
	margin-top: 5px;
}

.close.fileinput-remove {
	display: none;
}

.note-editor.note-frame {
	border: solid 1px #e5e6e7;
}

.disabled {
	pointer-events: none;
	cursor: default;
	color: #999;
}

.height-full {
    height: 100%!important;
}

.vertical-align {
    font-size: 0;
}
.vertical-align:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
}
.vertical-align-middle {
    vertical-align: middle;
}
.vertical-align-bottom, .vertical-align-middle {
    display: inline-block;
    max-width: 100%;
    font-size: 14px;
}

@media (max-width: 767px){
	.hidden-xs {
   		display: none!important;
	}
}
.visible-xs {
    display: none!important;
}

.padding-0 {
	padding: 0!important;
}

@media (max-width: 767px){
	.visible-xs {
    	display: block!important;
	}
}

/** tab pane*/
.tabs-container .panel-body {
	border: none;
}
.tabs-container .nav-tabs>li.active>a, .tabs-container .nav-tabs>li.active>a:focus, .tabs-container .nav-tabs>li.active>a:hover {
	border: none;
	border-bottom: 1px solid #18a689;
	color: #18a689;
	font-weight: normal;
}
.nav-tabs>li>a {
	font-weight: normal;
}

/** btn-primary */
.btn-primary {
	background-color: #43bc60;
	border-color: #36964d;
	color: #FFF
}
.btn-primary.active, .btn-primary:active, .btn-primary:focus,
	.btn-primary:hover, .open .dropdown-toggle.btn-primary {
	background-color: #389e51;
	border-color: #36964d;
	color: #FFF
}
.btn-primary.active, .btn-primary:active, .open .dropdown-toggle.btn-primary
	{
	background-image: none
}
.btn-primary.active[disabled], .btn-primary.disabled, .btn-primary.disabled.active,
	.btn-primary.disabled:active, .btn-primary.disabled:focus, .btn-primary.disabled:hover,
	.btn-primary[disabled], .btn-primary[disabled]:active, .btn-primary[disabled]:focus,
	.btn-primary[disabled]:hover, fieldset[disabled] .btn-primary, fieldset[disabled] .btn-primary.active,
	fieldset[disabled] .btn-primary:active, fieldset[disabled] .btn-primary:focus,
	fieldset[disabled] .btn-primary:hover {
	background-color: #389e51;
	border-color: #36964d;
}

/** btn-blue */
.btn-blue {
	background-color: #4B8DF8;
	border-color: #4B8DF8;
	color: #FFF
}
.btn-blue.active, .btn-blue:active, .btn-blue:focus,
	.btn-blue:hover, .open .dropdown-toggle.btn-blue {
	background-color: #2977f7;
	border-color: #2977f7;
	color: #FFF
}
.btn-blue.active, .btn-blue:active, .open .dropdown-toggle.btn-blue {
	background-image: none
}
.btn-blue.active[disabled], .btn-blue.disabled, .btn-blue.disabled.active,
	.btn-blue.disabled:active, .btn-blue.disabled:focus, .btn-blue.disabled:hover,
	.btn-blue[disabled], .btn-blue[disabled]:active, .btn-blue[disabled]:focus,
	.btn-blue[disabled]:hover, fieldset[disabled] .btn-blue, fieldset[disabled] .btn-blue.active,
	fieldset[disabled] .btn-blue:active, fieldset[disabled] .btn-blue,
	fieldset[disabled] .btn-blue:hover {
	background-color: #2977f7;
	border-color: #2977f7;
}

/** btn-operate */
.btn-operate {
	cursor: pointer;
	padding: 6px;
}
.btn-operate:HOVER {
	color: #459ae9;
}

/** number spinner */
.spinner {  
  width: 100px;  
}  
.spinner input {  
  text-align: right;  
}  
.spinner .input-group-btn-vertical {  
  position: relative;  
  white-space: nowrap;  
  width: 1%;  
  vertical-align: middle;  
  display: table-cell;  
}  
.spinner .input-group-btn-vertical > .btn {  
  display: block;  
  float: none;  
  width: 100%;  
  max-width: 100%;  
  padding: 8px;  
  margin-left: -1px;  
  position: relative;  
  border-radius: 0;  
}  
.spinner .input-group-btn-vertical > .btn:first-child {  
  border-top-right-radius: 4px;  
}  
.spinner .input-group-btn-vertical > .btn:last-child {  
  margin-top: -2px;  
  border-bottom-right-radius: 4px;  
}  
.spinner .input-group-btn-vertical i{  
  position: absolute;  
  top: 0;  
  left: 4px;  
} 

.help-block {
	display: block;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #a1a1a1;
}

/** 题型 */
.ques-type {
	font-size: 12px;
	border: 1px solid;
	border-radius: 2px;
	padding: 3px 8px;
	vertical-align: middle;
}
.ques-single {
	color: #1ab394;
	border-color: #1ab394;
}
.ques-multiple {
	color: #1c84c6;
	border-color: #1c84c6;
}
.ques-boolean {
	color: #ec4444;
	border-color: #ec44444;
}

/** 侧栏 */
.page-aside {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	width: 220px;
	overflow-y: auto;
	background-color: #fff;
	border-right: 1px solid #e4eaec;
	-webkit-transition: visibility .1s ease,top .3s ease,left .5s ease;
	transition: visibility .1s ease,top .3s ease,left .5s ease;
}
.page-aside-section {
	position: relative;
}
.page-aside-section:after {
	position: relative;
	display: block;
	margin: 11px;
	content: "";
	border-bottom: 1px solid #e7e7eb;
}
.page-aside-section:first-child {
	padding-top: 11px;
}
.page-aside-section:last-child:after {
	display: none;
}
.page-aside .list-group-item {
	padding: 13px 20px;
	margin-bottom: 1px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	border: none;
	border-radius: 0;
}
.page-aside .list-group-item .item-right {
	float: right;
}
.page-aside .list-group-item .fa,
.page-aside .page-aside-title .fa {
	margin-right: 8px;
}
.page-aside .list-group-item:FOCUS,
.page-aside .list-group-item:HOVER {
	color: #459ae9;
	background-color: #f5f5f5;
}
.page-aside .list-group-item.active,
.page-aside .list-group-item.active:focus, 
.page-aside .list-group-item.active:hover {
	color: #459ae9;
	background-color: #f5f5f5;
}
.page-aside .list-group.has-actions .list-group-item {
	padding-top: 6px;
	padding-bottom: 6px;
	line-height: 32px;
	cursor: pointer;
}
.page-aside .list-group.has-actions .list-group-item:HOVER {
	color: #459ae9;
	background-color: #f5f5f5;
}
.page-aside .list-group.has-actions .list-group-item:HOVER .item-actions {
	display: block;
	color: #676a6c;
}
.page-aside .list-group.has-actions .list-group-item:HOVER .item-right {
	display: none;
}
.page-aside-title {
	padding: 10px 20px;
	overflow: hidden;
	font-weight: 400;
	color: #a1a1a1;
	text-overflow: ellipsis;
	white-space: nowrap;
	cursor: default;
}
.page-aside .list-group.has-actions .list-group-item .item-actions {
	position: absolute;
	top: 6px;
	right: 15px;
	display: none;
}
.page-aside .list-group.has-actions .list-group-item .item-actions .fa {
	margin-right: 0;
}
.btn-pure, .btn-pure.active, .btn-pure:active, .btn-pure:focus, .btn-pure[disabled], 
.open>.dropdown-toggle.btn-pure, fieldset[disabled] .btn-pure {
	background-color: transparent;
	border-color: transparent;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-pure:hover {
	color: #459ae9;
}
.page-aside .btn-pure {
	padding-left: 2px;
	padding-right: 2px;
	background-color: transparent;
}
.page-main {
	height: 100%;
	margin-left: 220px;
	overflow-y: auto;
	padding: 20px;
}

/** modal */
.modal-center {
	display: flex;
	display: -webkit-flex;
	-webkit-align-items: center;
	align-items: center;
	-webkit-justify-content: center;
	justify-content: center;
	height: 100%;
	margin: 0px auto;
}
.modal-center .modal-content {
	width: 100%;
}

/** sweet alert */
.sweet-alert h2 {
	font-size: 16px;
	font-weight: 500;
	margin: 10px;
	line-height: 30px;
}
.sweet-alert  p {
	font-size: 14px;
}
.sweet-alert button {
	padding: 6px 12px;
	margin: 20px 5px 0 5px;
	font-size: 14px;
	min-width: 80px;
	border-radius: 4px;
}

