 .fixed {
   	position: fixed;
   	z-index: 2;
   	-webkit-font-smoothing: subpixel-antialiased;
 }
.tips-card {
 	position: absolute;
 	background: #fff;
 	padding: 20px;
 	width: 600px;
 	height: 400px;
 	top: 50%;
 	left: 50%;
 	margin-top: -200px;
 	margin-left: -300px;
 	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.tips-card h3,
.tips-card .tips-button {
	padding: 0 20px;
}
.tips-info .tips-error {
	color: #ec6149;
}
.tips-info .tips-info-header {
	margin-bottom: 30px;
}
.tips-info .tips-info-other {
	margin-top: 30px;
}
.tips-info h3 {
	color: #888;
	font-weight: 400;
}

.form-login .form-control,
.form-login .btn {
	height: 42px;
}
.form-login .input-group-addon {
	background-color: #eee;
}

.exam-banner {
	top: 0; 
	left: 0; 
	width: 100%; 
	z-index: 100;
	background: #fff;
	border-bottom: 1px solid rgba(30,35,42,.06);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
	box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
	background-clip: content-box;
}
.exam-banner-inner {
	position: relative;
	display: flex;
	width: 1180px;
	height: 52px;
	padding: 0 16px;
	margin: 0 auto;
	-webkit-box-align: center;
	align-items: center;
}
.exam-banner-holder {
	position: relative;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: block;
	float: none;
	margin: 0;
	height: 53px;
	visibility: hidden;
}
.card {
	margin-bottom: 15px;
	background: #fff;
	overflow: hidden;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.exam-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: start;
	align-items: flex-start;
	position: relative;
	width: 1180px;
	margin: 30px auto;
}
.exam-ques {
	position: relative;
	padding: 25px;
	font-size: 16px;
}
.exam-ques .ques-num {
	font-size: 14px;
	background-color: #36aafd;
	color: #fff;
	border-radius: 10px;
	padding: 2px 8px;
}
.exam-ques ul li {
	height: 30px;
}
.exam-ques .ques-score {
	color: #aeaeae;
}
.exam-controller .ques-list li {
  	font-size: 14px;
  	text-align: center;
  	display: block;
  	padding: 4px;
  	border: 1px solid #aaa;
  	border-radius: 2px;
  	float: left;
  	margin-right: 4px;
  	margin-bottom: 6px;
  	min-width: 26px;
  	cursor: pointer;
  }
.exam-controller .ques-list li.done, 
.exam-controller .ques-list li:HOVER {
	background-color: #FF7B29;
	color: #fff;
	border: 1px solid #FF7B29;
}
.card-control {
	display: flex; 
	flex-direction: column; 
	padding: 10px;
}
.card-title {
	color: #676a6c;
	margin-bottom: 15px;
}
.corner-buttons {
	position: fixed;
	width: 100px;
	bottom: 30px;
	display: flex;
	flex-direction: column;
}
.corner-container {
	width: 40px;
}
.corner-btn {
	margin-top: 10px;
	padding: 0px;
	color: #999;
	background: #fff;
	border-radius: 4px;
	width: 40px;
	height: 40px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.corner-btn:HOVER,
.corner-btn:FOCUS {
	color: #999;
	background: #d5dbe7;
}