body, html {
	height: 100%;
}

.gray-bg {
   	background-color: #f3f3f4;
}

.nav-exam {
	background: #fff;
}
.nav-exam .navbar-brand, 
.nav-exam .navbar-nav>li>a {
	font-weight: 500;
	color: #000;
}
.nav-exam .navbar-header .navbar-toggle {
   	background-color: #1ab394;
   	border-color: #1ab394;
   	color: #fff;
}
.nav-exam .navbar-toggle .icon-bar {
   	background-color: #fff;
}

.ques-info {
	color: #4395ff;
}
.ques-image img {
   	max-width: 100%;
}

ul.unstyled {
   	list-style: none outside none;
   	margin-left: 0;
   	padding-left: 0;
}
.ques-options li {
   	height: 30px;
}

.color-success {
   	color: #1ab394;
}
.color-danger {
   	color: #ed5565;
}
.card {
	width: 100%;
   	padding: 15px;
	background: #fff;
	overflow: hidden;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.flex-center {
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	
	/** 垂直居中 */
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
	
	/** 水平居中 */
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	
	height: 100%;
}

@media (max-width: 768px) {
	.flex-center {
		display: block;
	}
}
@media (min-width: 768px) {
   	.card {
   		padding: 25px 30px;
   		width: auto;
	}
}

/** navbar */
.navbar-brand {
   	overflow: hidden;
   	text-overflow: ellipsis;
   	white-space: nowrap;
}

/** 考试登录提示 */
.tips-card {
 	position: absolute;
 	background: #fff;
 	padding: 20px;
 	width: 600px;
 	height: 400px;
 	top: 50%;
 	left: 50%;
 	margin-top: -200px;
 	margin-left: -300px;
 	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.tips-info h3 {
	color: #888;
	font-weight: 400;
}
.tips-info .tips-error {
	color: #ec6149;
}
.tips-info .tips-info-header {
	margin-bottom: 30px;
}
.tips-info .tips-info-other {
	margin-top: 30px;
}

@media (max-width: 768px) {
	.tips-card {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		margin: 70px 0 0;
	}
}
.form-login .form-control,
.form-login .btn {
	height: 42px;
}
.form-login .input-group-addon {
	background-color: #eee;
}

/** 固定按钮 */
.corner-buttons {
	position: fixed;
	width: 50px;
	right: 0;
	bottom: 30px;
	display: flex;
	flex-direction: column;
}
.corner-container {
	width: 40px;
}
.corner-btn {
	margin-top: 10px;
	padding: 0px;
	color: #999;
	background: #fff;
	border-radius: 40px;
	width: 40px;
	height: 40px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
}
.corner-btn:HOVER,
.corner-btn:FOCUS {
	color: #999;
	background: #d5dbe7;
}