 .fixed {
   	position: fixed;
   	z-index: 2;
   	-webkit-font-smoothing: subpixel-antialiased;
 }


.exam-banner {
	top: 0; 
	left: 0; 
	width: 100%; 
	z-index: 100;
	background: #fff;
	border-bottom: 1px solid rgba(30,35,42,.06);
	-webkit-box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
	box-shadow: 0 1px 3px 0 rgba(0,34,77,.05);
	background-clip: content-box;
}
.exam-banner-inner {
	position: relative;
	display: flex;
	width: 1180px;
	height: 52px;
	padding: 0 16px;
	margin: 0 auto;
	-webkit-box-align: center;
	align-items: center;
}
.exam-banner-holder {
	position: relative;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	display: block;
	float: none;
	margin: 0;
	height: 53px;
	visibility: hidden;
}
.card {
	margin-bottom: 15px;
	background: #fff;
	overflow: hidden;
	border-radius: 2px;
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,.1);
	box-shadow: 0 1px 3px rgba(0,0,0,.1);
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
.exam-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: start;
	align-items: flex-start;
	position: relative;
	width: 1180px;
	margin: 30px auto;
}
.exam-ques {
	position: relative;
	padding: 25px;
	font-size: 16px;
}
.exam-ques .ques-num {
	font-size: 14px;
	background-color: #36aafd;
	color: #fff;
	border-radius: 10px;
	padding: 2px 8px;
}
.exam-ques ul li {
	height: 30px;
}
.exam-ques .ques-score {
	color: #aeaeae;
}

.card-control {
	display: flex; 
	flex-direction: column; 
	padding: 10px;
}
.card-title {
	color: #676a6c;
	margin-bottom: 15px;
}
